#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.confetti {
  position: absolute;
  top: 20%;
  left: 50%;
}

.winPopup {
  background-color: var(--dark-background);
  padding: 16px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80%;
}

.popupButtons {
  padding: 8px 0 0 0;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.button {
  border-radius: 8px;
  border: 0px;
  padding: 0.6em 1.2em;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  width: fit-content;
  margin: 8px;
  cursor: grab;
  transition: transform 0.15s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
  #root,
  .winPopup,
  .button {
    color: var(--light-background);
  }
}
