.tileWrapper {
  padding: 8px;
  margin: 0.5rem auto;
}

.tile {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: white;
  border-radius: 8px;
  border: 1px solid #646cff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: grab;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.tile:hover {
  border-color: #de83ff;
}

.lightTile {
  background-color: white;
}

.darkTile {
  background-color: #1a1a1a;
}