.tileWrapper {
  padding: 8px;
  margin: auto;
}

.tile {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
  border: 0px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: grab;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.tile:hover {
  transform: scale(1.1);
}

.lightTile {
  background-color: var(--light-gray);
}

.darkTile {
  background-color: var(--dark-gray);
}