h1 {
  margin: 16px;
}

.scoreBox {
  border-radius: 8px;
  border: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  width: fit-content;
  margin: 8px;
  display: inline;
}

@media (prefers-color-scheme: light) {
  h1 {
    color: var(--dark-gray);
  }
}
